body {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-image: url(../images/hypnotize.png);
}

h1, h2, h3{
	font-family: 'Georgia', Times, Times New Roman, serif;
}

nav {
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;
	margin-bottom: 40px;
}

a{
	text-decoration: none;
	color: #777777;	
}

.name {
	background-color: #4aaaa5;
	color: white;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-left: 105px;
	height: 80px;
	padding-top: 25px;
}

.navbar-nav {
	margin-right: 28%;
}

.nav-item {
	font-size: 15px;
	margin: 35px 10px 0px 10px;
}

section, aside {
	border: 1px solid #dddddd;
	background-color: #ffffff;
}

h2{
	color: #4aaaa5;
	font-size: 25px;
	font-weight: bold;
	padding: 30px 0px 20px 40px;
}

h3{
	color: #4aaaa5;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin: 25px 0px;
}

section {
	height: 50%;
}
.bioPic {
	height: 60%;
	width: 30%;
}

p {
	text-align: justify;
	line-height: 30px;
}

aside {
	height: 20%;
}
.social {
	margin: 25px;
}

.social a{
	margin: 5px;
}

.socialImg {
	width: 25%;


}

footer {
	border-top: 5px solid #4aaaa5;
	background-color: #666666;
	color: white;
	font-size: 12px;
	text-align: center;
	padding-top: 25px;
	height: 60px;
	left: 0;
	bottom: 0;
}

/*****Contact****/

form {
	margin-bottom: 20px;
}

/***Portfolio***/

.portpic {
	height: 40%;
}
figcaption {
	background-color: #4aaaa5;
	color: white;
	height: 60px;
	width: 96%;
	position: relative;
	bottom: 70px;
}